/*
.wrap {
  text-align: center;
}

.wrap #h01 {
  height: 450px;
  width: 100%;
  padding: 0;
  background-image: url('images/NYC.jpg');
  background-size: 100% 450px;
}

*/


/*
https://alvarotrigo.com/fullPage/extensions/continuous-horizontal.html?section=continuousHorizontal#firstPage
*/





html {
  overflow: hidden;
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
}

body {
  /*background-position: center center;*/
  height: 100vh;
  transition: .5s opacity;
  margin: 0;

}
body.fade {
    opacity: 0;
    transition: none;
}
.till {
  background: url("../css/images/NYC2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transform: scale(1.1);
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  -webkit-transition: .35s -webkit-filter linear;
  -moz-transition: .35s -moz-filter linear;
  -o-transition: .35s -o-filter linear;
  transition: .35s -webkit-filter linear;
}

.blurr {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  -webkit-transition: .35s -webkit-filter linear;
  -moz-transition: .35s -moz-filter linear;
  -o-transition: .35s -o-filter linear;
  transition: .35s -webkit-filter linear;
}


.docScroller {
  flex-flow: column;
  text-align: center;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}

.page {
  scroll-snap-align: start;
  float: center;
  width: 100vw;

}

.box {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  height: 100%;
  width: calc(100vw - 80px);
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.header {

  border-bottom: 1px solid black;
  font-family: 'Cinzel', serif;
  font-size: 3vw;
  text-align: left;
}
.header_2 {
  background-image: url("..///scss/images/NYC5.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 70px);
}
.header h2 {
  font-size: 1vw;
}

.header_3 {
  border-bottom: 1px solid black;
  font-family: 'Andale Mono', monospace;
  font-size: 2.5vw;
  text-align: left;
  height: 40px;
  margin-left: 12px;

}

.about {
  font-family: 'Cinzel', serif;
  font-size: 1.75vw;
  height: 100%;


}

.about h1 {
  font-family: 'Cinzel', serif;
  font-size: 2vw;
  text-align: center;

}

.about p {
  /*
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  */
  font-size: 1.5vw;
  color: #ffffff;
  text-alight: center;
  margin-left: 50px;
  font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif;
  margin-right: 50px;

}
.scroll-container {
  width: 100vw;
  height: 75px;
  position: fixed;
}
.scroll-container:hover {
  background-color: rgba(255,255,255,0.17);
  /*
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
  */
}

.scroll-indicator {
  margin-top: 15px;
	position: absolute;
	left: 50%;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}

.bounce {
  animation-name: bounce;
}

.arrow {
  text-align: center;
  color: white;
  font-size: 4vw;
  text-shadow: 0 8px 30px 0 black;
}
.teamcon {
  height: 100%;
  width: 100vw;
}


.teamcon2 {
  width: 100vw;
  height: 100%;
  float: left;

}
.team {
  float: left;
  height: 50%;
}



.team h1 {
  font-family: 'Cinzel', serif;
  font-size: 1.5vw;
  text-align: center;
  color: black;
  margin-right: 70px;
  margin-left: 40px;
}
.team h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.5vw;
  text-align: left;
  color: black;
  margin-left: 40px;
}

.team p {
  color: #ffffff;
  font-size: 1.25vw;
  text-alight: center;
  margin-left: 40px;
  font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif;
  margin-right: 70px;
}

.team img {
  float: left;
}

.team1 {
  float: right;
  height: 50%;
}

.team1 h1 {
  font-family: 'Cinzel', serif;
  font-size: 1.5vw;
  text-align: center;
  color: black;
  margin-right: 70px;
  margin-left: 40px;
}

.team1 h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.5vw;
  text-align: right;
  color: black;
  margin-right: 70px;
  margin-left: 40px;
}

.team1 p {
  color: #ffffff;
  font-size: 1.25vw;
  text-alight: center;
  margin-left: 40px;
  font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif;
  margin-right: 70px;
}

.team1 img {
  float: right;
}


/*

.horizmenu {
  overflow: auto;
  white-space: nowrap;
}

.horizmenu a {
  text-align: center;
}
*/

.mapcon {
  height: 100%;
  width: 100%;


}

.map {
  float: left;
  margin-top: 50%;
  text-align: center;
  height: 50vh;
  width: 50vw;
}


.meetcon {
  width: 100vw;
  height: 100%;

}

.meetcon2 {
  width: 100%;
  height: 50%;
  padding: 20px;
}


.meetcard {
  float: left;
  width: 25%;
  height: 100%;
  padding: 15px;
}

.meetcard1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 100%;
  height: 100%;
}

.meetcard1 h1 {
  background-color: white;
  height: 7%;
  font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif;
  font-size: 1.5vw;
}

.meetcard h2 {
   height: 33%;
   background-color: red;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav {
  height: calc(100vh - 130px);
  margin:0 auto;
  overflow: hidden;
  width: 770px;
  position: relative;
  background: transparent;
}

.nav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1vw;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
